<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OAuth2 Management">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>OAuth2 Management</title>
    <link rel="shortcut icon" href="{{ url_for('oauth.static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('oauth.static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-red.min.css">
    <link rel="stylesheet" href="{{ url_for('oauth.static', filename='style.css') }}">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <main class="mdl-layout__content">
        <!-- Tabbed layout. -->
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
          <div class="mdl-tabs__tab-bar">
            <a href="#users" class="mdl-tabs__tab is-active">Users ({{ users|length }})</a>
            <a href="#clients" class="mdl-tabs__tab">Clients ({{ clients|length }})</a>
            <a href="#tokens" class="mdl-tabs__tab">Tokens ({{ tokens|length }})</a>
          </div>
          <!-- User tab. -->
          <div class="mdl-tabs__panel is-active" id="users">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--2-col"></div>
              <div class="mdl-cell mdl-cell--8-col">
                <form method="post" action="{{ url_for('oauth.management') }}">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="username" name="username" required>
                    <label class="mdl-textfield__label" for="username">Username</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="password" id="password" name="password" required>
                    <label class="mdl-textfield__label" for="password">Password</label>
                  </div>
                  <br/>
                  <input type="submit" name='submit' value='Add User'
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                </form>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">ID</th>
                      <th class="mdl-data-table__cell--non-numeric">Username</th>
                      <th class="mdl-data-table__cell--non-numeric">Password Hash</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">{{ user.id }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ user.username }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ user.hashpw }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Client tab. -->
          <div class="mdl-tabs__panel" id="clients">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--2-col"></div>
              <div class="mdl-cell mdl-cell--8-col">
                <form method="post" action="{{ url_for('oauth.management') }}">
                  <input type="submit" name='submit' value='Add Client'
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                </form>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">ID</th>
                      <th class="mdl-data-table__cell--non-numeric">Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for client in clients %}
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">{{ client.client_id }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ client.client_type }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Token tab. -->
          <div class="mdl-tabs__panel" id="tokens">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--2-col"></div>
              <div class="mdl-cell mdl-cell--8-col">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">ID</th>
                      <th class="mdl-data-table__cell--non-numeric">User ID</th>
                      <th class="mdl-data-table__cell--non-numeric">Client ID</th>
                      <th class="mdl-data-table__cell--non-numeric">Expires</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for token in tokens %}
                    <tr onclick="alert('{{ token.access_token }}')">
                      <td class="mdl-data-table__cell--non-numeric">{{ token.id }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ token.user_id }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ token.client_id }}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{ token.expires }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- Footer scripts. -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
